.slider {
    margin-bottom: 26px;
    height: 350px;
}

.slider img {
    display: table-cell;
    height: 320px;
    margin-left: auto;
    margin-right: auto;
}

.slider input{
    display: none;
}
.slider div{
    width: 210px;
    margin-top: -10px;
}

.slider label {
    cursor: pointer;
    height: 13px;
    width: 13px;
    vertical-align: middle;
    display: inline-block;
    margin: 25px 9px 0 9px;
    background-image: url(../img/slider/button.png);
    background-repeat: no-repeat;
}

.slider #check {
    height: 17px;
    width: 17px;
    background-image: url(../img/slider/button_click.png);
    background-repeat: no-repeat;
}